body{background:black
}
section{
  font-style: oblique;
   color:white;
   width: auto;
   height: 20px;
   position: relative;
   top:80px;
}
 .contenedor{
  width: 200px;
  height: 200px;
  background:#aa3939;
  margin:100px;
  z-index: 10;
  float :left;
  border-color: white;
  border:2px;
 }
   img{
    width: 200px;
    height: 200px;
    opacity: .6;

   }
   .nombre{
    font-size:20px;
    color:white;
    position:absolute;
    position:relative;
    left:120px;
    bottom: 40px;
   }
